@{
    ViewData["Title"] = "Home";
    ViewData["ContentTitle"] = "Meetings";
}

<h2>Welcome to Meetings Management Website</h2>
<p>To Start off, sign up or log in if you already have an account.</p>

@section Styles {
    <link rel="stylesheet" href="~/css/anonymous-home.css" />
}